<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ShowDoc For Leqee</title>
</head>
<body>
    <h1>Leqee ShowDoc</h1>
    <div style="min-height:300px;">
        <if condition="$login_user">
            <h3>Welcome, {$login_user.username}.</h3>
            <p>
                <a href="{:U('Home/Item/index')}">{$Think.lang.my_item}</a>
                <a href="{:U('Home/User/setting')}">{$Think.Lang.personal_setting}</a>
                <a href="{:U('Home/User/exist')}">{$Think.Lang.logout}</a>
            </p>
            <if condition="$login_as_admin">
            <h3>Only admin knows</h3>
            <p>
                <a href="{:U('Home/Admin/users')}">用户管理</a>
                <a href="{:U('Home/Admin/digin')}">项目管理</a>
                <a href="{:U('Home/Test/view_inside')}">数据管理</a>
            </p>
            </if>
        <else />
            <a href="{:U('Home/User/login')}">{$Think.lang.index_login_or_register}</a>
        </if>
    </div>
    <div style="padding-top: 5px;border-top: 1px solid lightgray;">
        <p style="color:lightgray;">Copyright 2017 Sinri Edogawa, LEQEE.</p>
    </div>
</body>
</html>